# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Common files to ignore
**/node_modules
**/coverage
**.DS_Store
**.env*

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Files to ignore in uloan-contract
apps/uloan-contract/cache
apps/uloan-contract/artifacts
apps/uloan-contract/coverage*

# Files to ignore in uloan-web
apps/uloan-web/build
apps/uloan-web/.env*
apps/uloan-web/npm-debug.log*
apps/uloan-web/yarn-debug.log*
apps/uloan-web/yarn-error.log*

# Files to ignore in uloan-backend
apps/uloan-backend/dist*
